<p>You can pass an existing component as content of the modal window. In this case remember to add content component
  as an <code>entryComponents</code> section of your <code>NgModule</code>.</p>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(2)">Launch demo modal</button>

  <hr/>